@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






@import "tailwindcss";

@layer base {
  body{
    font-family: 'roboto', sans-serif;
  }

  @keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

  .fade-up {
    animation: fadeUp 0.5s ease-in-out forwards;
  }

  .noscroll {
    overflow: hidden;
    }

  /* Hide elements until Alpine initializes */
  [x-cloak] {
    display: none !important;
  }
}


@theme {
    --font-roboto: 'Roboto', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --color-primary:oklch(62.3% 0.214 259.815);
}